h2 {
  color: pink;
}

//Colors
$colorMain: red;
$colorSecundary: red;
$colorSuccess: red;
$colorInfo: red;
$colorDanger: red;
$colorWarning: red;
$colorDesabled: red;
$colorDarkBackground: red;
$colorLightBackground: red;
$colorLightText: red;
$colorDarkText: red;
$colorHiglightText: red;
$colorDesabledText: red;
